$primary-pink-color: rgb(184, 44, 93);
$secondary-pink-color: rgb(194, 47, 99);
$light-pink-color: rgb(221, 116, 153);
$dark-pink-color: rgb(144, 35, 73);
$primary-yellow-color: rgb(253, 234, 69);
$primary-white-color: #fff;
$dark-gray-color: #3a3a3a;
$light-gray: lightgray;
$black: #000;
$primary-gray-color: #979797;
$secondary-gray-color: #6c757d;
$primary-blue-color: #007bff;
$dark-blue-color: #0056b3;
$lightgray-background-color: #fafafa;
$color-red: #dc3545;
$color-yellow-dark: rgb(133, 100, 4);
$color-yellow-superlight: #fff3cd;
$fontFamily: IRANSANS;
