$primary-pink-color : #b92d5e;
$secondary-pink-color: #c22f63;
$light-pink-color:#dd7499;
$dark-pink-color:#902349;
$primary-yellow-color: #fdea45;
$primary-white-color: #fff;
$primary-gray-color:#979797;