.header {
    color: $primary-white-color;
    height: 10.8rem;
    background-color: $primary-pink-color;
    font-size: 2.5rem;
    li {
        display: inline-block;
    }
    &__logo {
        font-size: 3rem;
        font-weight: 900;
        text-shadow: 5px;
        a {
            color: $primary-white-color;
        }
    }
    &__categories {
        font-size: 1.6rem;
        padding: 0 3rem;
        span,
        svg {
            vertical-align: middle;
        }
        @include respond(lg) {
            display: none;
        }
    }
    &__search {
        display: flex;
        padding: 5px;
        width: 39rem;
        input {
            font-family: $fontFamily;
            font-size: 1.6rem;
            vertical-align: middle;
        }
    }
    &__icons {
        display: flex;
        align-self: stretch;
        align-items: center;
        #like-icon {
            font-size: 3.5rem;
            vertical-align: middle;
            margin-left: 2.5rem;
            margin-right: 0.5rem;
        }
    }
    .cart {
        position: relative;
        display: flex;
        align-self: stretch;
        align-items: center;
        cursor: pointer;
        #ShoppingCart {
            font-size: 3.5rem;
            vertical-align: middle;
            margin-right: 2.5rem;
            margin-left: 1.5rem;
        }
        &__counter {
            background-color: $primary-yellow-color;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            color: $primary-pink-color;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            position: absolute;
            top: 2.5rem;
            left: 0.5rem;
            line-height: 2.8rem;
        }

        &__items {
            display: none;
            position: absolute;
            top: 10.9rem;
            right: -5.5rem;
            min-width: 30rem;
            z-index: 3;
            @include respond(sm) {
                right: unset;
                left: -3rem;
                top: 8rem;
            }
            .item {
                $color: $primary-gray-color;
                justify-content: right;
                border-bottom: 1px dashed $light-gray;
                position: relative;

                &__img {
                    width: 5rem;
                    height: 5rem;
                    margin-left: 1rem;
                }
                &__name {
                    font-size: 1.5rem;
                    color: $dark-gray-color;
                    align-self: flex-start;
                    margin: 0;
                }
                &__details {
                    width: 100%;
                    padding: 1rem 0.5rem;
                    display: flex;
                }
                &__qty {
                    color: $primary-gray-color;
                    font-size: 1.2rem;
                    margin-left: 0.5rem;
                    display: flex;
                    float: right;
                }
                &__price {
                    margin: 0;
                    font-size: 1.3rem;
                    color: $primary-pink-color;
                    font-weight: 600;
                    float: right;
                }
                &__remove {
                    font-size: 1.2rem;
                    color: $color-red;
                    display: flex;
                    margin-right: auto;
                    padding: 1rem;
                    position: absolute;
                    top: 20%;
                    left: 0;
                }
            }
            .empty_cart {
                color: $color-yellow-dark;
                #empty_cart_text {
                    padding: 1rem;
                    text-align: center;
                    margin: 0;
                    background-color: $color-yellow-superlight;
                    font-size: 1.6rem;
                }
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: -0.8rem;
                right: 30%;
                width: 0;
                height: 0;
                border-right: 1rem solid transparent;
                border-left: 1rem solid transparent;
                border-bottom: 1rem solid $primary-white-color;
            }
        }
        &:hover {
            .cart__items {
                display: block;
            }
        }
    }
}
