.carousel {
    background-color: #fafafa;
    padding: 11rem 0;
    &__container {
        position: relative;
        padding: 0 2.5rem;

        @include respond(xs) {
            padding: 0 1rem;
        }
    }
    &__box {
        border: 1px solid lightgray;
        background-color: #fff;

        img {
            max-width: 100%;
            height: 40rem;

            @include respond(xs) {
                width: 17rem;
                height: 22rem;
            }
        }
    }
    &__image {
        @include respond(xs) {
            padding: 2rem;
        }
    }

    &__inner {
        padding: 5rem 2rem;

        h2 {
            margin: 2rem 0;
            font-family: inherit;
        }
        h3 {
            font-weight: 900;
            color: $primary-pink-color;
        }
        .deliveryText {
            font-size: 1.2rem;
            color: $dark-gray-color;
            padding: 0 1rem;
            border-radius: 0 0 0 1.3rem;
            display: inline-block;
            background-color: $primary-yellow-color;
        }
        p {
            font-size: 1.6rem;
        }
    }

    &__dots {
        display: flex;
        position: absolute;
        left: 5rem;
        bottom: 1.5rem;
        direction: ltr;
        cursor: pointer;
        span {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: rgba(229, 229, 229, 1);
            display: inline-block;
            transition: all 0.3s;

            &:not(:last-child) {
                margin-right: 5px;
            }
            &:hover {
                background-color: $primary-pink-color;
            }
        }
        .active {
            background-color: $primary-pink-color;
        }
    }
}
.onSale {
    border: 1px solid lightgray;
    padding: 5px 0;

    @include respond(md) {
        margin: 2.5rem 1rem !important;
    }

    img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
}
