.fadeOut {
    opacity: 0;
    z-index: 1;

    transition: opacity 1.5s;
}
.fadeIn {
    opacity: 1;
    z-index: 2;
    transition: opacity 1.5s;
}
.slider {
    background-color: $primary-pink-color;
    position: relative;
    .row {
        height: 100%;
    }
    height: 72.5rem;
    @include respond(md) {
        height: 54rem;
    }
    @include respond(xs) {
        height: 40rem;
    }

    &__images {
        position: absolute;
        right: 0;
        top: 5rem;
        width: 50%;
        height: 100%;
        img {
            max-width: 100%;
        }
        // .animated_img {
        //     width: 100%;
        //     animation: moveInImg 0.5s ease-out 0.75s;
        //     animation-fill-mode: backwards;
        // }
    }
    &__leftSide {
        position: absolute;
        top: 12rem;
        left: 0;
        width: 50%;
        @include respond(xs) {
            left: 1rem;
            top: 5rem;
        }
    }
    &__text {
        .animated_text {
            animation: moveInRight 1s ease-out;
        }
        &--header1 {
            color: $primary-yellow-color;
            font-size: 6rem;
            font-weight: 700;
            @include respond(md) {
                font-size: 4rem;
            }
            @include respond(xs) {
                font-size: 2rem;
            }
        }
        &--header2 {
            color: $primary-white-color;
            font-size: 8rem;
            font-weight: 900;
            @include respond(md) {
                font-size: 5rem;
            }
            @include respond(xs) {
                font-size: 3rem;
            }
        }
        .slider_sub_text {
            color: $primary-white-color;
            font-size: 2rem;
        }
    }
    .moreButton_div {
        text-align: left;
        margin-left: 2rem;
        .moreButton {
            #left_arrow_symbol {
                vertical-align: -webkit-baseline-middle;
            }
        }
    }
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1s ease-out;
    // transform: translateY(3rem);
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.fade-exit-done {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}
