.popluar {
    background-image: url("../images/bubbly_bg.jpg");
    background-repeat: repeat;
    background-position: top left;
    background-size: auto, cover;
    position: relative;
    padding-bottom: 10rem;

    .fetch-popular-spinner {
        position: absolute;
        top: 4%;
        left: 50%;
    }
}
.popluar__inner {
    padding-block: 5rem;
}
.popular__heading {
    text-align: center;
    margin-top: 5rem;
}
.popular__paragraph {
    font-size: 1.8rem;
    line-height: 1.25;
    letter-spacing: -0.02em;
    font-weight: 300;
    text-align: center;
}
