@import url('fontiran.css');
body {
  margin: 0;
  padding: 0;
  font-family: IRANSans ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: IRANSans source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
